.board{
    &__header{
        @include flexCentering();
        justify-content: space-between;
        margin-bottom: 50px;
    }
    &__turn{
        border-radius: 5px;
        background-color: $bg-light;
        padding: 8px 12px;
        @include flexCentering();
        gap: 10px;
        box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    }
    &__restart{
        padding: 10px 20px;
        svg{
            width: 25px;
            height: 25px;
            transform-origin: center;
            @include flexCentering();
            transition: all 0.3s;
        }
        &:active svg{
            transform: rotate(180deg);
        }
    }
    &__body{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px 20px;
        .card{
            height: 120px;
            @include flexCentering();
            padding-inline: 10px;
            cursor: pointer;
        }
    }
    &__footer{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        .card{
            gap: 10px;
        }
    }
}

@keyframes entrance{
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}